
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
}

.topnav {
    z-index: 100;
    overflow: hidden;
    background: rgb(49, 47, 62);
}

.playfair-display {
    font-family: 'Playfair Display', serif;
}

.topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 1.3em;
    line-height: 1.4em;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}


.topnav a.active {
    background-color: rgb(255, 212, 125);
    color: rgb(49, 47, 62);
}

.topnav a.active:hover {
    color: rgb(49, 47, 62);
}

.topnav a:hover {
    color: rgb(255, 212, 125);
}

.topnav .icon {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .section {
    padding-top: 90px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.header {
    background-color: rgb(255, 212, 125);
    width: 100%;
    height: 400px;
    margin: 0;
    position: relative;
}

.header-text {
    color: rgba(49, 47, 62);
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 25px;
    margin: 0;
}

.header-text h1 {
    font-size: 4.5em;
    font-style: italic;
}

.header-text h3 {
    font-size: 2em;
    font-weight: normal;
}

.header-text h1,
.header-text h3 {
    margin: 0;
}

#home h1 {
    font-size: 3em;
    text-align: center;
}

.section {
    text-align: center;
    padding-top: 50px;
}

.text-column {
    color: rgb(49, 47, 62);
    background: white;
    width: 90%;
    margin: 0px auto;
    padding: 30px 0 50px 0;
    font-size: 1.3em;
    line-height: 1.5em;
    overflow: auto;
}

.profile-img {
    display: none;
    margin: 30px auto;
    max-width: 30%;
    border: 4px solid rgb(49, 47, 62);
    border-radius: 50%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0)), url("../images/korea-photo.jpg");
    width: 100%;
    height: 400px;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 2.3em;
    font-style: italic;
    color: rgb(49, 47, 62);
    text-align: center;
    font-size: 4em;
    margin: 20px;
    padding: 20px 0 5px 0;
}

.projects-container {
    width: 100%;
    padding-top: 30px;
    margin: 0 auto 80px auto;
    text-align: center;
    color: rgb(49, 47, 62);
    position: relative;
}

.lang-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.lang-title {
    cursor: pointer;
    padding: 0 10px;
}

.active-lang {
    font-family: 'Playfair Display', serif;
    font-size: 1.3em;
    font-weight: bold;
    color: rgb(49, 47, 62);
}

.project-wrapper {
    display: flex;
    position: relative;
    display: inline-block;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    height: 100%;
    width: 30%;
    font-size: 2.4em;
    text-align: center;
    color: rgb(255, 212, 125);
    background: rgba(49, 47, 62);
    font-weight: bold;
    padding: 15px;
    opacity: 1;
    transition: 0.2s;
    overflow: hidden;
}

.slide-in {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left: 30%;
    background: rgb(255, 212, 125);
    width: 70%;
    height: 100%;
    overflow: hidden;
    transition: transform .5s ease;
    transform: translateX(-96%);
    -webkit-transform: translateX(-96%);
}

.slide-in.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 10px solid rgba(49, 47, 62); 
}

.arrow-right {
    float: right;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-left: 15px solid rgba(49, 47, 62); 
    padding-right: 2.5%;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    float: right;
    width: 66%;
    height: 100%;
    padding: 15px;
    background: white;
    font-size: 1em;
}

.links {
    width: 100%;
}

.summary a {
    color: rgba(49, 47, 62);
    padding: 10px 0;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
}

.summary a:hover {
    color: rgb(255, 212, 125);
}

.project-description {
    padding: 0;
    margin: 20px 0;
    overflow: auto;
}

.project-description p {
    font-size: 1.2em;
    padding: 10px 0;
    margin-top: 0;
}

.project-description a {
    display: block;
    text-align: right;
    font-size: 1.5em;
    text-decoration: none;
    margin: 10px;
}

.project-description i {
    margin: 0 10px;
}

.project-image {
    cursor: pointer;
    width: 40%;
    float: left;
    padding: 0 20px 0 0;
    margin-top: 10px;
}

.image-expand {
    display: none;
    cursor: pointer;
    padding: 10px;
    background: rgb(255, 212, 125);
    border-radius: 3px;
}

.contact-text {
    color: rgba(49, 47, 62);
    margin: 0 0 10px 0;
    padding: 0 20px 80px 20px;
}

.subname {
    margin: 0;
    color: rgb(255, 212, 125);
}

.contact-text a {
    color: rgba(49, 47, 62);
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}

.contact-text a:hover {
    color: rgb(255, 212, 125);
}

.line {
    border-right: 2px solid rgba(49, 47, 62);
}

.footer {
    background: rgba(49, 47, 62);
    color: rgba(49, 47, 62);
    text-align: right;
    font-size: 1.4em;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

.footer:hover {
    color: rgb(255, 212, 125);
}




@media screen and (max-width: 600px) {
    .header-text h1 {
        font-size: 3.5em;
    }

    .header-text h3 {
        font-size: 1.5em;
    }

    .topnav a.social {
        display: none;
    }

    .title {
        font-size: 3em;
    }

    .projects-container {
        width: 100%;
    }

    .modal-content {
        width: 90%;
    }

    #contact a {
        display: block;
    }

    .subname {
        font-size: 1.5em;
    }

    .line {
        display: none;
    }

    #modal-img-1 {
        width: 90%
    }

    #modal-img-2,
    #modal-img-3 {
        display: none;
    }

}

@media screen and (min-width: 600px) {
    .project-image {
        display: none;
    }

    .project-description a {
        display: inline-block;
        text-align: center;
    }

    .image-expand {
        display: inline-block;
    }

    .projects-container {
        width: 100%;
    }

    #modal-img-1,
    #modal-img-2 {
        width: 45%
    }

    #modal-img-3 {
        display: none;
    }
}
    

@media screen and (min-width: 1000px) {
    .profile-img {
        display: inline-block;
    }

    .text-column {
        text-align: center;
    }

    .hero-image {
        display: none;
    }
}